$primary: #c29938;


@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';




$custom-theme-colors: (
    "navy":#264653,
    "egreen":#2A9D8F,
    "white":#fff,
    "orange":#E76F51,
    "lightNavy":#287998


);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);


@import '../node_modules/bootstrap/scss/bootstrap';


